* {
  margin: 0;
  padding: 0;
}

.title {
  grid-area: title;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}
.title {
  footer: footer;
}

.grid {
  display: grid;
  grid-template-columns: auto 200px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

.grid div:nth-child(even) {
  background-color: #ab2626;
}

.grid div:nth-child(odd) {
  background-color: #77489a;
}
