.box-1 {
  /*first div*/
  text-align: center;
  color: black;
  font-family: "Inconsolata", monospace;
}
.box-2 {
  /*second div*/
  text-align: center;
  color: firebrick;
  font-family: "Inconsolata", monospace;
}

#link_1 {
  font-family: "Inconsolata", monospace;
  color: brown;
  text-align: center;
  text-decoration: none;
}
.contact {
  font-family: "Inconsolata", bold;
  color: red;
  text-align: center;
  text-decoration: none;
}

* {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  margin-left: 40%;
}

.img-dp {
  width: 300px;
}
