.img-test {
  width: 500px;
  height: 500px;
  background-image: url("/images/pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  /* transition */
  /*transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 4s;*/
  transition: all 2s ease-in-out 1s;
  -webkit-transition: all 2s ease-in-out 1s;
  -moz-transition: all 2s ease-in-out 1s;
  -o-transition: all 2s ease-in-out 1s;
}

.img-test:hover {
  background-image: url("/images/profile.jpg");
}

.button-test {
  display: block;
  width: 120px;
  height: 40px;
  padding: 15px;
  padding-left: 20px;
  background-color: aquamarine;
  font-size: 20px;
  font-family: Arial;
  font-weight: 600;
  color: #222;
  line-height: 60px;
  text-decoration: none;
  white-space: nowrap;
}

.button-test:hover {
  background-color: #222;
  color: #fff;
  font-weight: 900;
  padding-left: 30px;
}
