#nav {
    background-color: rgb(85, 187, 165);
}

.nav-link {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

.nav-link:hover {
    color: rgb(78, 96, 225);
    font-size: 1.5em;
    text-decoration: none;
}

.nav-link:active {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

#footer {
    background-color: black;
    margin-top: 100%;
}

.bg {
    background-color: rgb(60, 72, 60);
}

.text-decoration-none {
    color: rgb(33, 144, 72);
}

.l-1 {
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

a:hover {
    text-decoration: none;
    color: rgb(5, 53, 39);
    font-size: medium;
}

#link-1 {
    color: black;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#link-1 {
    color: rgb(5, 53, 39);
    text-decoration: rgb(6, 170, 240) underline;
}

body {
    background-color: rgb(255, 255, 255);
}

.result {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    color: black;
}

#todos {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}